name: run tests for requests-openapi-client
run-name: "test run: ${{github.ref_name}} ${{ github.event.head_commit.message }}"
on: [push]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
     
      - name: Install dependencies
        run: python -m pip install -e ".[dev]"
      # TODO: will work up to this
      # - name: Lint with ruff
      #   uses: chartboost/ruff-action@v1
      - name: Run test
        run: pytest
